.main-focus{
    padding: 6vw;
}

.main-focus div{
    display: flex;
    justify-items: center;
    padding: 2vh 0;
    gap: 20vw;
}
.main-focus div article{
    display: flex;
    gap: 2vw;
    align-items: center;
}

h5{
    font-size: 6rem;
    color: #bdbdbd3b;
}