.about{
    display: flex;
    padding: 0 7vw;
   /*  align-items: center; */
  

}


.about div img{
    padding: 1vw;
   
}

.center-img{
    display: flex;
    align-items: center;
}
.about-text{
    width: 65%;
    padding: 4vh 16vw 0 0;
    
}
.about-text p{
    padding: 3vh 0 1vh 0;
}