.contact-us__section{
    margin-bottom: 14vh;
    padding-left: 7vw;
}

.contact-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 6vh;
}
.contact-wrapper form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 2vh 0;
}
.contact-wrapper input{
    background-color: #f3f3f3;
    padding: 4%;
    width: 32vw;
    color: #8d8d8d;
    border-style: none;
    opacity: 0.7;
}

.contact-wrapper img {
    padding:  0  0 2% 2% ;
}
.message-box{
    height: 15vh;
}