footer{
    display: flex;
    gap: 4vw;
    justify-content: space-around;
    background-color: #2c2c2c;
    padding: 6vh 0;
    color: #FFFFFF;
}

.info-wrapper, .contacts-wrapper{
    display: flex;
    flex-direction: column;
}

.info-wrapper a{
    font-family: Roboto-light;
    color: #FFFFFF;
    padding-bottom: 12px;
}

.contacts-wrapper p{
    padding-bottom: 12px;
}
.social-icons__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15%;
}

footer h4{
    padding-bottom: 20px;
}

.copyright{
    color: #C8C8C8;
    font-size: 12px;
    text-align: center;
    background-color: #2c2c2c;
    padding: 2vh;
}
hr{
    border: 1px solid #c8c8c8;
}